#container {
  position: absolute;
  width: 525px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
 background-color: white;
}
.array {
  background-color: #528E86;
}

#wrapper {
  background-color: #528E86;
}

#timer {
  margin-left: 489px;

}

h1 {
  margin-left: 60px;
}

#game {
  width: 525px;
}

.tile {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 7px;
  display: inline-block;
  color: #E84948;
  text-align: center;
  vertical-align: center;
  background-color: #E84948;
  -webkit-background-size: 10px 10px;
  background-position:0 0, 20px 20px;
  background-image: -webkit-radial-gradient(closest-side, white 40%, transparent 50%), -webkit-radial-gradient(closest-side, rgba(255, 255, 255, .3) 30%, transparent 30%);
}
.open {
  background-color: white;
}

.solved {
  background-color: #68C668;
  color: white;
}

#timer:after {
  content: ' seconds';
}
